@page "/"
@using index
@inject NavigationManager navMgr

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <HomeButtons/>
    </NotAuthorized>
    <Authorized>
            <div class="card">
                <h3>Hello, @context.User.Identity.Name</h3>
            </div>
        </Authorized>
</AuthorizeView>

