@page "/Register"
@using BlazorAssignment.Authentication
@inject IAuthService authService
@inject NavigationManager navMgr
<AuthorizeView>
    <NotAuthorized>
        <div class="card">
            <h3>Register</h3>
            <div class="field">
                <label>User name:</label>
                <input type="text" @bind="userName"/>
            </div>
            <div class="field">
                <label style="text-align: center">Password:</label>
                <input type="password" @bind="password"/>
            </div>
            @if (!string.IsNullOrEmpty(errorLabel))
            {
                <div class="field">
                    <label style="color: red">
                        @errorLabel
                    </label>
                </div>
            }
            <div class="field">
                <button class="registerbtn" @onclick="RegisterAsync">Register</button>
            </div>
        </div>
    </NotAuthorized>
    
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task RegisterAsync()
    {
        errorLabel = "";
        try
        {
            await authService.RegisterAsync(userName, password);
            navMgr.NavigateTo("/Login");
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message}";
        }
    }
}